article {
    margin-right: 50px;
}

.title {
    font-size: 2rem;
}

.sub-title {
    color: gray;
}

.content {
    font-size: 1.1rem;
}

.author {
    color: rgb(86, 139, 7);
}

table,
th,
td {
    border: solid 1px;
}

table {
    width: 100%;
}

th {
    text-align: center;
}

footer {
    margin-top: 50px;
}